@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container mt-4">

        <h2>Welcome to Dave Lau's Technical Task</h2>

        <h3>Getting Started</h3>
        <div class="mb-4">
            <div class="media mb-3">
                <div class="media-body">
                    <strong>Log In:</strong>
                    <p>
                        Click on the Login link at the top of the page. Enter your username and password to access the system.
                    </p>
                </div>
            </div>
            <div class="media mb-3">
                <div class="media-body">
                    <strong>Access Customer Management:</strong>
                    <p>
                        Once logged in, you will be redirected to the Customers page where you can view the list of existing customers.
                    </p>
                </div>
            </div>
        </div>

        <h3>Managing Customers</h3>
        <p>
            You can perform the following actions on customer records:
        </p>
        <div class="mb-4">
            <div class="media mb-3">
                <div class="media-body">
                    <strong>Create a New Customer:</strong>
                    <p>
                        Click on the <em>"Create New Customer"</em> button to add a new customer. Fill in the required details and click <em>"Create"</em> to save.
                    </p>
                </div>
            </div>
            <div class="media mb-3">
                <div class="media-body">
                    <strong>Edit an Existing Customer:</strong>
                    <p>
                        In the customer list, click on the <em>"Edit"</em> button next to the customer you wish to modify. Update the necessary information and click <em>"Save"</em>.
                    </p>
                </div>
            </div>
            <div class="media mb-3">
                <div class="media-body">
                    <strong>Delete a Customer:</strong>
                    <p>
                        Click on the <em>"Delete"</em> button next to the customer you wish to remove. Confirm the deletion when prompted.
                    </p>
                </div>
            </div>
        </div>

        <h3>Logging Out</h3>
        <p>
            To log out of the application, click on the Logout link at the top of the page.
        </p>


    </div>
</div>
